### Clean raw data

In [1]:
import pandas as pd
from raw_data import save_all_files, concat_df

In [2]:
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None

### Import raw data

In [2]:
save_all_files()

Get a coffee ;)
Downloading and saving 5 big files will take between 10 and 20 minutes.
You already have this file. No need to download it again.
Reading 2011.csv. This can take some time...
Writing to ./data/2011.pkl...
File was saved to ./data/2011.pkl.
You already have this file. No need to download it again.
Reading 2012.csv. This can take some time...
Writing to ./data/2012.pkl...
File was saved to ./data/2012.pkl.
You already have this file. No need to download it again.
Reading 2013.csv. This can take some time...
Writing to ./data/2013.pkl...
File was saved to ./data/2013.pkl.
You already have this file. No need to download it again.
Reading 2014.csv. This can take some time...
Writing to ./data/2014.pkl...
File was saved to ./data/2014.pkl.
You already have this file. No need to download it again.
Reading 2015.csv. This can take some time...
Writing to ./data/2015.pkl...
File was saved to ./data/2015.pkl.
You successfully downloaded 5 of the 5 files.

In [2]:
df =concat_df()

Reading file: 2011.pkl
Reading file: 2012.pkl
Reading file: 2013.pkl
Reading file: 2014.pkl
Reading file: 2015.pkl

In [3]:
df

,DIABETE3,SMOKE100,PREGNANT,_BMI5,SMOKDAY2,CVDSTRK3,PHYSHLTH,SEX,GENHLTH,CVDINFR4,CVDCRHD4,ASTHMA3,STOPSMK2,ALCDAY5,AVEDRNK2,DRNK3GE5,INSULIN,ASATTACK,_TOTINDA
0,3.0,1.0,NaN,1855.0,1.0,2.0,88.0,2.0,4.0,2.0,2.0,2.0,1.0,103.0,2.0,88.0,NaN,NaN,2.0
1,3.0,1.0,NaN,3529.0,1.0,2.0,12.0,1.0,4.0,2.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0
2,3.0,1.0,2.0,1695.0,3.0,2.0,88.0,2.0,2.0,2.0,2.0,2.0,NaN,101.0,1.0,88.0,NaN,NaN,1.0
3,3.0,2.0,2.0,2579.0,NaN,2.0,88.0,2.0,3.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0
4,4.0,1.0,NaN,4346.0,3.0,2.0,25.0,2.0,5.0,2.0,2.0,2.0,NaN,888.0,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380042,1.0,2.0,NaN,1842.0,NaN,2.0,88.0,2.0,4.0,2.0,2.0,2.0,NaN,888.0,NaN,NaN,NaN,NaN,2.0
2380043,3.0,2.0,2.0,2834.0,NaN,2.0,88.0,2.0,1.0,2.0,2.0,2.0,NaN,888.0,NaN,NaN,NaN,NaN,1.0
2380044,3.0,1.0,NaN,4110.0,3.0,2.0,88.0,2.0,4.0,2.0,2.0,2.0,NaN,202.0,2.0,88.0,NaN,NaN,9.0
2380045,3.0,2.0,NaN,2315.0,NaN,2.0,88.0,1.0,3.0,2.0,2.0,2.0,NaN,888.0,NaN,NaN,NaN,NaN,2.0
2380046,1.0,2.0,NaN,2469.0,NaN,2.0,88.0,2.0,2.0,1.0,2.0,2.0,NaN,888.0,NaN,NaN,NaN,NaN,1.0

### Selecting relevant columns

In [4]:
nan_count = df.isna().sum()
nan_count

DIABETE3       1142
SMOKE100      50567
PREGNANT    2011088
_BMI5        146916
SMOKDAY2    1340643
CVDSTRK3          0
PHYSHLTH         17
SEX               0
GENHLTH          20
CVDINFR4          3
CVDCRHD4          1
ASTHMA3           0
STOPSMK2    2014870
ALCDAY5       84101
AVEDRNK2    1241557
DRNK3GE5    1243227
INSULIN     2240453
ASATTACK    2374318
_TOTINDA          0
dtype: int64

### Clean data

In [ ]:
#drop missing rows
df_cleaned = df_relevant.dropna()

dropped_rows = df_relevant.shape[0] - df_cleaned.shape[0]

print(f"{dropped_rows} Rows with missing values dropped")

In [ ]:
df_cleaned

### convert values to the right format

in general: drop values 7 and 9 (dont know, not set)

In [ ]:
#drop 7 and 9:

col_list = relevant2015_cleaned.columns.values.tolist()
col_list

# relevant2015_cleaned = relevant2015_cleaned[(relevant2015_cleaned["DIABETE3"] != 7.0) & (relevant2015_cleaned["DIABETE3"] != 9.0)]

### y: Diabete3
#1: no, 2: yes, but only during pregnancy, 3: yes, 4:no, pre-diabetes

In [ ]:
relevant2015_cleaned["DIABETE3"].value_counts()
#1: no, 2: yes, but only during pregnancy, 3: yes, 4:no, pre-diabetes ,7: Don't know, 9: refused

In [ ]:
#drop 7 and 9:
relevant2015_cleaned = relevant2015_cleaned[(relevant2015_cleaned["DIABETE3"] != 7.0) & (relevant2015_cleaned["DIABETE3"] != 9.0)]
relevant2015_cleaned["DIABETE3"].value_counts()


#TODO: how to handle 4?
#TODO: how to handle 2?

### x: smoke100
Have you smoked at least 100 cigarettes in your life?

In [ ]:
relevant2015_cleaned.SMOKE100.value_counts()

#drop 7 and 9
relevant2015_cleaned = relevant2015_cleaned[(relevant2015_cleaned["SMOKE100"] != 7.0) & (relevant2015_cleaned["SMOKE100"] != 9.0)]
relevant2015_cleaned.SMOKE100.value_counts()

#TODO: 1 = yes, 2 = no -> convert to 0

### SMOKDAY2

In [ ]:
relevant2015_cleaned["SMOKDAY2"].value_counts()

### x: _BMI5

In [ ]:
relevant2015_cleaned._BMI5.value_counts()
relevant2015_cleaned._BMI5.unique()