In [1]:
from raw_data import save_all_files, concat_df, concat_sampled_df

In [2]:
save_all_files()

Get a coffee ;)
Downloading and saving 6 big files will take between 12 and 24 minutes.
You already have this file. No need to download it again.
You already have this file. No need to download it again.
You already have this file. No need to download it again.
You already have this file. No need to download it again.
You already have this file. No need to download it again.
You already have this file. No need to download it again.
You successfully downloaded 0 of the 6 files.

In [3]:
df = concat_sampled_df()

Reading file: 2011.csv
Reading file: 2012.csv
Reading file: 2013.csv
Reading file: 2014.csv
Reading file: 2015.csv

In [4]:
df

,Unnamed: 0,_STATE,_GEOSTR,_DENSTR2,PRECALL,REPNUM,REPDEPTH,FMONTH,IDATE,IMONTH,...,CDHOUSE,CDASSIST,CDHELP,CDSOCIAL,CDDISCUS,EXACTOT1,EXACTOT2,_MICHD,_DRNKWEK,_RFDRHV5
0,22,1.0,9.0,1.0,1.0,120132.0,5.0,12.0,b'12302011',b'12',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65,1.0,7.0,1.0,1.0,90080.0,27.0,9.0,b'09012011',b'09',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,104,1.0,99.0,9.0,1.0,30025.0,11.0,3.0,b'03212011',b'03',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,123,1.0,9.0,1.0,1.0,10114.0,29.0,1.0,b'01042011',b'01',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,147,1.0,9.0,1.0,1.0,20119.0,24.0,2.0,b'02022011',b'02',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,441245,72.0,NaN,NaN,NaN,NaN,NaN,11.0,b'12212015',b'12',...,NaN,NaN,NaN,NaN,NaN,b'',b'',2.0,5.397605e-79,1.0
49996,441283,72.0,NaN,NaN,NaN,NaN,NaN,11.0,b'12142015',b'12',...,NaN,NaN,NaN,NaN,NaN,b'',b'',2.0,9.990000e+04,9.0
49997,441374,72.0,NaN,NaN,NaN,NaN,NaN,11.0,b'12152015',b'12',...,NaN,NaN,NaN,NaN,NaN,b'',b'',2.0,7.000000e+02,1.0
49998,441408,72.0,NaN,NaN,NaN,NaN,NaN,11.0,b'12152015',b'12',...,NaN,NaN,NaN,NaN,NaN,b'',b'',2.0,5.397605e-79,1.0
49999,441423,72.0,NaN,NaN,NaN,NaN,NaN,11.0,b'12222015',b'12',...,NaN,NaN,NaN,NaN,NaN,b'',b'',2.0,5.397605e-79,1.0