In [1]:
from raw_data import save_all_files, load_df_from_files

In [2]:
save_all_files()

Get a coffee ;)
Downloading and saving 6 big files will take between 12 and 24 minutes.
You already have this file. No need to download it again.
You already have this file. No need to download it again.
You already have this file. No need to download it again.
You already have this file. No need to download it again.
You already have this file. No need to download it again.
You already have this file. No need to download it again.
You successfully downloaded 0 of the 6 files.

In [2]:
df = load_df_from_files()
df

2011.csv
2012.csv
2013.csv
2014.csv
2015.csv

,Unnamed: 0,_STATE,_GEOSTR,_DENSTR2,PRECALL,REPNUM,REPDEPTH,FMONTH,IDATE,IMONTH,...,CDHOUSE,CDASSIST,CDHELP,CDSOCIAL,CDDISCUS,EXACTOT1,EXACTOT2,_MICHD,_DRNKWEK,_RFDRHV5
0,0,1.0,1.0,1.0,1.0,10001.0,27.0,1.0,b'01202011',b'01',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,1.0,1.0,1.0,10008.0,13.0,1.0,b'01142011',b'01',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1.0,5.0,1.0,1.0,10058.0,4.0,1.0,b'01062011',b'01',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1.0,7.0,1.0,1.0,10079.0,7.0,1.0,b'02012011',b'02',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1.0,7.0,1.0,1.0,10081.0,28.0,1.0,b'02012011',b'02',...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441451,441451,72.0,NaN,NaN,NaN,NaN,NaN,11.0,b'12162015',b'12',...,NaN,NaN,NaN,NaN,NaN,b'',b'',2.0,5.397605e-79,1.0
441452,441452,72.0,NaN,NaN,NaN,NaN,NaN,11.0,b'12142015',b'12',...,NaN,NaN,NaN,NaN,NaN,b'',b'',2.0,5.397605e-79,1.0
441453,441453,72.0,NaN,NaN,NaN,NaN,NaN,11.0,b'12232015',b'12',...,NaN,NaN,NaN,NaN,NaN,b'',b'',2.0,9.300000e+01,1.0
441454,441454,72.0,NaN,NaN,NaN,NaN,NaN,11.0,b'12152015',b'12',...,NaN,NaN,NaN,NaN,NaN,b'',b'',2.0,5.397605e-79,1.0
441455,441455,72.0,NaN,NaN,NaN,NaN,NaN,11.0,b'12152015',b'12',...,NaN,NaN,NaN,NaN,NaN,b'',b'',1.0,5.397605e-79,1.0