## Imports

In [1]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
import pandas as pd

from raw_data import save_all_files, concat_df

## Load the data

Loads the required datasets from google cloud. Then selects only relevant columns and saves it into /data/_year_.pkl.

In [4]:
save_all_files()

Get a coffee ;)
Downloading and saving 5 big files will take between 10 and 20 minutes.
You already have this file's corresponding .pkl file. No need to download the .csv file again.
You already have this file's corresponding .pkl file. No need to download the .csv file again.
You already have this file's corresponding .pkl file. No need to download the .csv file again.
You already have this file's corresponding .pkl file. No need to download the .csv file again.
You already have this file's corresponding .pkl file. No need to download the .csv file again.
You successfully downloaded 0 of the 5 files.

## Concatenate data from different years to one dataframe

In [16]:
df = concat_df()
df

Reading file: 2011.pkl
Reading file: 2012.pkl
Reading file: 2013.pkl
Reading file: 2014.pkl
Reading file: 2015.pkl

,DIABETE3,SEX,_AGEG5YR,EDUCA,_BMI5,_BMI5CAT,GENHLTH,PHYSHLTH,_TOTINDA,EXERANY2,...,SMOKDAY2,_RFSMOK3,DRNKANY5,ALCDAY5,AVEDRNK2,DRNK3GE5,_RFBING5,CVDSTRK3,CVDINFR4,CVDCRHD4
0,3.0,2.0,9.0,4.0,1855.0,2.0,4.0,88.0,2.0,2.0,...,1.0,2.0,1.0,103.0,2.0,88.0,1.0,2.0,2.0,2.0
1,3.0,1.0,3.0,3.0,3529.0,4.0,4.0,12.0,2.0,2.0,...,1.0,2.0,9.0,NaN,NaN,NaN,9.0,2.0,2.0,2.0
2,3.0,2.0,14.0,6.0,1695.0,1.0,2.0,88.0,1.0,1.0,...,3.0,1.0,1.0,101.0,1.0,88.0,1.0,2.0,2.0,2.0
3,3.0,2.0,14.0,4.0,2579.0,3.0,3.0,88.0,9.0,NaN,...,NaN,1.0,9.0,NaN,NaN,NaN,9.0,2.0,2.0,2.0
4,4.0,2.0,7.0,3.0,4346.0,4.0,5.0,25.0,1.0,1.0,...,3.0,1.0,2.0,888.0,NaN,NaN,1.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380042,1.0,2.0,11.0,2.0,1842.0,1.0,4.0,88.0,2.0,2.0,...,NaN,1.0,2.0,888.0,NaN,NaN,1.0,2.0,2.0,2.0
2380043,3.0,2.0,2.0,5.0,2834.0,3.0,1.0,88.0,1.0,1.0,...,NaN,1.0,2.0,888.0,NaN,NaN,1.0,2.0,2.0,2.0
2380044,3.0,2.0,11.0,4.0,4110.0,4.0,4.0,88.0,9.0,NaN,...,3.0,1.0,1.0,202.0,2.0,88.0,1.0,2.0,2.0,2.0
2380045,3.0,1.0,7.0,5.0,2315.0,2.0,3.0,88.0,2.0,2.0,...,NaN,1.0,2.0,888.0,NaN,NaN,1.0,2.0,2.0,2.0
2380046,1.0,2.0,9.0,6.0,2469.0,2.0,2.0,88.0,1.0,1.0,...,NaN,1.0,2.0,888.0,NaN,NaN,1.0,2.0,1.0,2.0

# MODIFY THIS

## Data preparation

- [ ] feature selection
- [ ] data cleaning

In [26]:
# here the data cleaning and data preparation takes place
target_name = "DIABETE3"
feature_names = df.columns.values.tolist()
feature_names.remove(target_name)

# removed all nan values for decision tree to function
# unproblematic features: subset of feature_names with those removed with a lot of nan values
feature_list = [
    "CVDSTRK3",
    "PHYSHLTH",
    "SEX",
    "GENHLTH",
    "CVDINFR4",
    "CVDCRHD4",
    "ASTHMA3",
    "_TOTINDA",
    "_AGEG5YR",
    "_LTASTH1",
    "_RFBMI5",
    "_RFSMOK3",
    "DRNKANY5",
    "_RFBING5"
]

features = {
    "SEX": "SEX",
    "_AGEG5YR": "age",
    "EDUCA": "education",
    "_BMI5": "bmi",
    "_BMI5CAT": "bmicat",
    "GENHLTH": "estimated_health",
    "PHYSHLTH": "bad_physhealth_days",
    "_TOTINDA": "had_phys_activity",
    "EXERANY2": "EXERANY2",
    "SMOKE100": "smoked_over_100",
    "SMOKDAY2": "smokes_daily",
    "_RFSMOK3": "is_smoker",
    "DRNKANY5": "alcohol_past_30",
    "ALCDAY5": "ALCDAY5",
    "AVEDRNK2": "AVEDRNK2",
    "DRNK3GE5": "DRNK3GE5",
    "_RFBING5": "_RFBING5",
    "CVDSTRK3": "had_stroke",
    "CVDINFR4": "had_heart_attack",
    "CVDCRHD4": "had_angina"
}

# only include rows with diabetes = yes and no and select relevant columns
df_filtered = df.loc[df["DIABETE3"].isin([1, 3]), list(features.keys()) + [target_name]]

# rename label 1 = yes (has diabetes) | 3 = no (no diabetes)
df_filtered["DIABETE3"] = df_filtered["DIABETE3"].map({1: "yes", 3: "no"})

df_filtered

,SEX,_AGEG5YR,EDUCA,_BMI5,_BMI5CAT,GENHLTH,PHYSHLTH,_TOTINDA,EXERANY2,SMOKE100,...,_RFSMOK3,DRNKANY5,ALCDAY5,AVEDRNK2,DRNK3GE5,_RFBING5,CVDSTRK3,CVDINFR4,CVDCRHD4,DIABETE3
0,2.0,9.0,4.0,1855.0,2.0,4.0,88.0,2.0,2.0,1.0,...,2.0,1.0,103.0,2.0,88.0,1.0,2.0,2.0,2.0,no
1,1.0,3.0,3.0,3529.0,4.0,4.0,12.0,2.0,2.0,1.0,...,2.0,9.0,NaN,NaN,NaN,9.0,2.0,2.0,2.0,no
2,2.0,14.0,6.0,1695.0,1.0,2.0,88.0,1.0,1.0,1.0,...,1.0,1.0,101.0,1.0,88.0,1.0,2.0,2.0,2.0,no
3,2.0,14.0,4.0,2579.0,3.0,3.0,88.0,9.0,NaN,2.0,...,1.0,9.0,NaN,NaN,NaN,9.0,2.0,2.0,2.0,no
5,1.0,9.0,4.0,2957.0,3.0,2.0,88.0,1.0,1.0,1.0,...,1.0,2.0,888.0,NaN,NaN,1.0,2.0,2.0,2.0,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380042,2.0,11.0,2.0,1842.0,1.0,4.0,88.0,2.0,2.0,2.0,...,1.0,2.0,888.0,NaN,NaN,1.0,2.0,2.0,2.0,yes
2380043,2.0,2.0,5.0,2834.0,3.0,1.0,88.0,1.0,1.0,2.0,...,1.0,2.0,888.0,NaN,NaN,1.0,2.0,2.0,2.0,no
2380044,2.0,11.0,4.0,4110.0,4.0,4.0,88.0,9.0,NaN,1.0,...,1.0,1.0,202.0,2.0,88.0,1.0,2.0,2.0,2.0,no
2380045,1.0,7.0,5.0,2315.0,2.0,3.0,88.0,2.0,2.0,2.0,...,1.0,2.0,888.0,NaN,NaN,1.0,2.0,2.0,2.0,no
2380046,2.0,9.0,6.0,2469.0,2.0,2.0,88.0,1.0,1.0,2.0,...,1.0,2.0,888.0,NaN,NaN,1.0,2.0,1.0,2.0,yes

### Drop missing and bad input values

In [30]:
for col in df_filtered.columns:
    print("\n")
    print(f"Column {col} has the following values:")
    print(df_filtered[col].value_counts())
    print(f"... and {df_filtered[col].isnull().values.sum()} nan values:")
    print()

Column SEX has the following values:
2.0    1360627
1.0     953002
Name: SEX, dtype: int64
... and 0 nan values:



Column _AGEG5YR has the following values:
9.0     257834
8.0     247012
10.0    237913
7.0     221684
13.0    191833
11.0    189200
6.0     171691
5.0     148460
12.0    143326
4.0     131129
3.0     123806
1.0     121744
2.0     103568
14.0     24429
Name: _AGEG5YR, dtype: int64
... and 0 nan values:



Column EDUCA has the following values:
6.0    815467
4.0    667037
5.0    625532
3.0    128848
2.0     62456
9.0      8167
1.0      3108
Name: EDUCA, dtype: int64
... and 3014 nan values:



Column _BMI5 has the following values:
2663.0    25687
2746.0    20161
2744.0    19765
2441.0    17844
2712.0    15550
          ...
5980.0        1
5179.0        1
6746.0        1
3733.0        1
5017.0        1
Name: _BMI5, Length: 4930, dtype: int64
... and 141448 nan values:



Column _BMI5CAT has the following values:
3.0    787368
2.0    728535
4.0    618729
1.0     37549
Name: _BMI5CAT, dtype: int64
... and 141448 nan values:



Column GENHLTH has the following values:
2.0    750733
3.0    707604
1.0    409215
4.0    309755
5.0    128247
7.0      4386
9.0      3670
Name: GENHLTH, dtype: int64
... and 19 nan values:



Column PHYSHLTH has the following values:
88.0    1440851
30.0     179001
2.0      125937
1.0       96746
3.0       73365
5.0       65709
10.0      48127
15.0      44342
7.0       41310
77.0      40480
4.0       38647
20.0      28618
14.0      23291
25.0      11679
6.0       11181
99.0      10536
8.0        7257
21.0       5697
12.0       4690
28.0       4328
29.0       2049
9.0        1665
18.0       1374
16.0       1152
27.0       1003
17.0        798
26.0        674
22.0        652
24.0        597
13.0        582
11.0        551
23.0        478
19.0        248
Name: PHYSHLTH, dtype: int64
... and 14 nan values:



Column _TOTINDA has the following values:
1.0    1642420
2.0     575627
9.0      95582
Name: _TOTINDA, dtype: int64
... and 0 nan values:



Column EXERANY2 has the following values:
1.0    1642420
2.0     575627
9.0       7647
7.0       2534
Name: EXERANY2, dtype: int64
... and 85401 nan values:



Column SMOKE100 has the following values:
2.0    1240744
1.0    1009989
7.0       9100
9.0       4493
Name: SMOKE100, dtype: int64
... and 49303 nan values:



Column SMOKDAY2 has the following values:
3.0    653479
1.0    255078
2.0     99632
9.0      1064
7.0       466
Name: SMOKDAY2, dtype: int64
... and 1303910 nan values:



Column _RFSMOK3 has the following values:
1.0    1894223
2.0     354710
9.0      64696
Name: _RFSMOK3, dtype: int64
... and 0 nan values:



Column DRNKANY5 has the following values:
1.0    1113413
2.0    1088557
9.0      97168
7.0      14491
Name: DRNKANY5, dtype: int64
... and 0 nan values:



Column ALCDAY5 has the following values:
888.0    1088557
201.0     172594
202.0     133322
101.0      94209
102.0      75420
203.0      74421
230.0      72150
204.0      61921
205.0      59211
103.0      52050
107.0      49581
210.0      44854
220.0      36802
215.0      35408
104.0      23945
105.0      23895
206.0      21854
208.0      17048
225.0      15670
999.0      15186
777.0      14491
207.0      13714
212.0       8649
106.0       8300
228.0       4397
214.0       2772
229.0       1628
209.0       1320
227.0       1144
216.0       1080
218.0       1063
221.0        946
224.0        930
222.0        792
226.0        768
217.0        426
213.0        411
223.0        357
211.0        292
219.0         64
114.0          2
115.0          1
110.0          1
260.0          1
130.0          1
231.0          1
232.0          1
Name: ALCDAY5, dtype: int64
... and 81979 nan values:



Column AVEDRNK2 has the following values:
1.0     507471
2.0     327590
3.0     122130
4.0      51486
5.0      27375
         ...
41.0         1
69.0         1
39.0         1
88.0         1
34.0         1
Name: AVEDRNK2, Length: 62, dtype: int64
... and 1202267 nan values:



Column DRNK3GE5 has the following values:
88.0    820234
1.0     100602
2.0      57535
4.0      25957
3.0      25941
5.0      17562
77.0     12063
10.0      8671
30.0      8092
6.0       6855
8.0       6496
15.0      4037
7.0       3444
99.0      3112
20.0      3093
12.0      2107
25.0      1083
9.0        457
14.0       441
28.0       334
16.0       312
18.0       155
29.0       151
24.0       135
13.0       131
27.0       109
21.0       101
26.0        96
11.0        86
17.0        84
22.0        72
23.0        59
76.0        26
31.0        18
19.0        18
55.0         8
40.0         7
35.0         5
60.0         4
50.0         4
41.0         4
48.0         3
32.0         3
36.0         3
63.0         2
44.0         2
33.0         2
70.0         2
52.0         2
56.0         2
53.0         1
51.0         1
43.0         1
47.0         1
45.0         1
38.0         1
Name: DRNK3GE5, dtype: int64
... and 1203901 nan values:



Column _RFBING5 has the following values:
1.0    1908791
2.0     274319
9.0     130519
Name: _RFBING5, dtype: int64
... and 0 nan values:



Column CVDSTRK3 has the following values:
2.0    2213634
1.0      94217
7.0       5502
9.0        276
Name: CVDSTRK3, dtype: int64
... and 0 nan values:



Column CVDINFR4 has the following values:
2.0    2166332
1.0     136798
7.0       9903
9.0        593
Name: CVDINFR4, dtype: int64
... and 3 nan values:



Column CVDCRHD4 has the following values:
2.0    2156835
1.0     137719
7.0      18425
9.0        650
Name: CVDCRHD4, dtype: int64
... and 0 nan values:



Column DIABETE3 has the following values:
no     2010686
yes     302943
Name: DIABETE3, dtype: int64
... and 0 nan values:

In [33]:
# drop na drops around 79% of the rows...
df = df_filtered.dropna()
df

,SEX,_AGEG5YR,EDUCA,_BMI5,_BMI5CAT,GENHLTH,PHYSHLTH,_TOTINDA,EXERANY2,SMOKE100,...,_RFSMOK3,DRNKANY5,ALCDAY5,AVEDRNK2,DRNK3GE5,_RFBING5,CVDSTRK3,CVDINFR4,CVDCRHD4,DIABETE3
0,2.0,9.0,4.0,1855.0,2.0,4.0,88.0,2.0,2.0,1.0,...,2.0,1.0,103.0,2.0,88.0,1.0,2.0,2.0,2.0,no
2,2.0,14.0,6.0,1695.0,1.0,2.0,88.0,1.0,1.0,1.0,...,1.0,1.0,101.0,1.0,88.0,1.0,2.0,2.0,2.0,no
11,2.0,13.0,6.0,2141.0,2.0,2.0,88.0,2.0,2.0,1.0,...,1.0,1.0,107.0,2.0,88.0,1.0,2.0,2.0,2.0,no
31,1.0,8.0,6.0,2585.0,3.0,2.0,2.0,1.0,1.0,1.0,...,1.0,1.0,210.0,2.0,88.0,1.0,2.0,2.0,2.0,no
32,1.0,10.0,4.0,2510.0,3.0,2.0,88.0,1.0,1.0,1.0,...,1.0,1.0,215.0,4.0,88.0,1.0,2.0,2.0,2.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380002,1.0,3.0,3.0,2647.0,3.0,2.0,88.0,1.0,1.0,1.0,...,1.0,1.0,201.0,24.0,1.0,2.0,2.0,2.0,2.0,no
2380022,2.0,11.0,4.0,2780.0,3.0,3.0,88.0,2.0,2.0,1.0,...,1.0,1.0,204.0,2.0,88.0,1.0,2.0,2.0,2.0,no
2380025,1.0,1.0,5.0,3797.0,4.0,1.0,88.0,1.0,1.0,1.0,...,2.0,1.0,203.0,8.0,3.0,2.0,2.0,2.0,2.0,no
2380031,1.0,9.0,2.0,2403.0,2.0,2.0,88.0,2.0,2.0,1.0,...,2.0,1.0,103.0,18.0,3.0,2.0,2.0,2.0,2.0,no
2380038,1.0,6.0,5.0,3054.0,4.0,4.0,88.0,2.0,2.0,1.0,...,2.0,1.0,203.0,2.0,1.0,2.0,2.0,2.0,1.0,no

# DON'T TOUCH FROM HERE

## Model training
- [ ] model selection
- [ ] train-test split (maybe before data prep)
- [ ] hyperparameter tuning
- [ ] more stuff

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df_simplified[feature_list], df_simplified[target_name], test_size=0.33, random_state=42)

model = DecisionTreeClassifier()
model = model.fit(X_train, y_train)

KeyError: "['ASTHMA3', '_LTASTH1', '_RFBMI5'] not in index"

In [ ]:
y_predict = model.predict(X_test)
score = accuracy_score(y_test, y_predict)
matrix = confusion_matrix(y_test, y_predict)
matrix

array([[ 16713,    148,  82662,    523,     72,     18],
       [   251,     29,   6776,     19,      2,      1],
       [ 27186,   1022, 633435,   1338,    229,     75],
       [  1288,     29,  11775,     65,      8,      1],
       [   125,      3,    806,     17,     10,      1],
       [    36,      1,    219,      6,      3,    135]], dtype=int64)

In [ ]:
confusion_matrix?

Signature:
confusion_matrix(
    y_true,
    y_pred,
    *,
    labels=None,
    sample_weight=None,
    normalize=None,
)
Docstring:
Compute confusion matrix to evaluate the accuracy of a classification.

By definition a confusion matrix :math:`C` is such that :math:`C_{i, j}`
is equal to the number of observations known to be in group :math:`i` and
predicted to be in group :math:`j`.

Thus in binary classification, the count of true negatives is
:math:`C_{0,0}`, false negatives is :math:`C_{1,0}`, true positives is
:math:`C_{1,1}` and false positives is :math:`C_{0,1}`.

Read more in the :ref:`User Guide <confusion_matrix>`.

Parameters
----------
y_true : array-like of shape (n_samples,)
    Ground truth (correct) target values.

y_pred : array-like of shape (n_samples,)
    Estimated targets as returned by a classifier.

labels : array-like of shape (n_classes), default=None
    List of labels to index the matrix. This may be used to reorder
    or select a subset of labels.
    If ``None`` is given, those that appear at least once
    in ``y_true`` or ``y_pred`` are used in sorted order.

sample_weight : array-like of shape (n_samples,), default=None
    Sample weights.

    .. versionadded:: 0.18

normalize : {'true', 'pred', 'all'}, default=None
    Normalizes confusion matrix over the true (rows), predicted (columns)
    conditions or all the population. If None, confusion matrix will not be
    normalized.

Returns
-------
C : ndarray of shape (n_classes, n_classes)
    Confusion matrix whose i-th row and j-th
    column entry indicates the number of
    samples with true label being i-th class
    and predicted label being j-th class.

See Also
--------
ConfusionMatrixDisplay.from_estimator : Plot the confusion matrix
    given an estimator, the data, and the label.
ConfusionMatrixDisplay.from_predictions : Plot the confusion matrix
    given the true and predicted labels.
ConfusionMatrixDisplay : Confusion Matrix visualization.

References
----------
.. [1] `Wikipedia entry for the Confusion matrix
       <https://en.wikipedia.org/wiki/Confusion_matrix>`_
       (Wikipedia and other references may use a different
       convention for axes).

Examples
--------
>>> from sklearn.metrics import confusion_matrix
>>> y_true = [2, 0, 2, 2, 0, 1]
>>> y_pred = [0, 0, 2, 2, 0, 2]
>>> confusion_matrix(y_true, y_pred)
array([[2, 0, 0],
       [0, 0, 1],
       [1, 0, 2]])

>>> y_true = ["cat", "ant", "cat", "cat", "ant", "bird"]
>>> y_pred = ["ant", "ant", "cat", "cat", "ant", "cat"]
>>> confusion_matrix(y_true, y_pred, labels=["ant", "bird", "cat"])
array([[2, 0, 0],
       [0, 0, 1],
       [1, 0, 2]])

In the binary case, we can extract true positives, etc as follows:

>>> tn, fp, fn, tp = confusion_matrix([0, 1, 0, 1], [1, 1, 1, 0]).ravel()
>>> (tn, fp, fn, tp)
(0, 2, 1, 1)
File:      c:\users\nick\.virtualenvs\diabetes-forecasting-g7uteuix\lib\site-packages\sklearn\metrics\_classification.py
Type:      function

## Use Model to predict user's diabetes probability

### Get user input

In [ ]:
# please input data: ...

# use data for diabetes proba
user_row = df_simplified.loc[[11], feature_list].reset_index(drop=True) # got a random index just as an example
probas = model.predict_proba(user_row)

label_meanings = (
    "diabetes",
    "diabetes during pregnancy",
    "pre-diabetes or borderline diabetes",
    "don't know",
    "refused",
    "BLANK"
)

for l, p in list(zip(label_meanings, probas.tolist()[0])):
    print(f"With a probability of {round(p*100, 2)}% you (will) have result: {l}.")

With a probability of 5.15% you (will) have result: diabetes.
With a probability of 0.45% you (will) have result: diabetes during pregnancy.
With a probability of 93.06% you (will) have result: pre-diabetes or borderline diabetes.
With a probability of 1.34% you (will) have result: don't know.
With a probability of 0.0% you (will) have result: refused.
With a probability of 0.0% you (will) have result: BLANK.

### Make recommendations: What factors have the most significant impact on the user's diabetes probability?