In [1]:
import pandas as pd
import os
from raw_data import concat_df

In [2]:
df = concat_df()
df

Reading file: 2011.csv
Reading file: 2012.csv
Reading file: 2013.csv
Reading file: 2014.csv
Reading file: 2015.csv

,Unnamed: 0,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,...,_EDUCAG,_INCOMG,_TOTINDA,_RFSEAT2,_RFSEAT3,_PNEUMO2,DRNKANY5,DROCDY3_,_RFBING5,_AIDTST3
0,0,1.0,1.0,b'01202011',b'01',b'20',b'2011',120.0,2.011000e+09,2.011000e+09,...,2.0,2.0,2.0,1.0,1.0,NaN,1.0,4.300000e+01,1.0,2.0
1,1,1.0,1.0,b'01142011',b'01',b'14',b'2011',120.0,2.011000e+09,2.011000e+09,...,1.0,3.0,2.0,9.0,9.0,NaN,9.0,9.000000e+02,9.0,NaN
2,2,1.0,1.0,b'01062011',b'01',b'06',b'2011',120.0,2.011001e+09,2.011001e+09,...,4.0,3.0,1.0,1.0,1.0,9.0,1.0,1.400000e+01,1.0,2.0
3,3,1.0,1.0,b'02012011',b'02',b'01',b'2011',120.0,2.011001e+09,2.011001e+09,...,2.0,9.0,9.0,9.0,9.0,9.0,9.0,9.000000e+02,9.0,NaN
4,4,1.0,1.0,b'02012011',b'02',b'01',b'2011',120.0,2.011001e+09,2.011001e+09,...,1.0,1.0,1.0,1.0,1.0,NaN,2.0,5.397605e-79,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380042,441451,72.0,11.0,b'12162015',b'12',b'16',b'2015',1100.0,2.015005e+09,2.015005e+09,...,1.0,2.0,2.0,1.0,1.0,2.0,2.0,5.397605e-79,1.0,2.0
2380043,441452,72.0,11.0,b'12142015',b'12',b'14',b'2015',1100.0,2.015005e+09,2.015005e+09,...,3.0,1.0,1.0,1.0,1.0,NaN,2.0,5.397605e-79,1.0,1.0
2380044,441453,72.0,11.0,b'12232015',b'12',b'23',b'2015',1200.0,2.015005e+09,2.015005e+09,...,2.0,3.0,9.0,9.0,9.0,9.0,1.0,7.000000e+00,1.0,NaN
2380045,441454,72.0,11.0,b'12152015',b'12',b'15',b'2015',1100.0,2.015005e+09,2.015005e+09,...,3.0,1.0,2.0,1.0,1.0,NaN,2.0,5.397605e-79,1.0,2.0
2380046,441455,72.0,11.0,b'12152015',b'12',b'15',b'2015',1100.0,2.015005e+09,2.015005e+09,...,4.0,1.0,1.0,1.0,1.0,NaN,2.0,5.397605e-79,1.0,1.0